.app{
  min-height: 80vh;
  width: 350px;
  margin: 20px auto;
  border: 2px solid #FFDE00;

}

.conteiner{
  display: flex;
  justify-content: center;
}


.crossed {
  text-decoration: line-through 3px blue;
}

ul, li {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body{
  background-color: #C3F8FF;
}

h1{
  font-family: 'Source Sans Pro', sans-serif;
  color: #007FFF;
}

input{
  flex: 1;
  padding: 10px;
  margin: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  border-color: #007FFF
}

.btn-delete {
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFDE00;
  }

  .btn-add {
    padding: 10px;
    border: none;
    width: 70%;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: #277BC0;
    }

    .imgTwo{
      padding: 40px;
    }
